#title__div {
    background: linear-gradient(135deg, #2c3e50, #4ca1af);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 800px;
    text-align: center;
}